@model SchoolNetwork.Models.Assignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details - @Html.DisplayFor(model => model.Title)</h1>

<div>
    <h4>Assignment</h4>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Course.Title)</th>
            <td>@Html.DisplayFor(model => model.Course.Title)</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>@Html.DisplayFor(model => model.ApplicationUser.FullName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Value)</th>
            <td>@Html.DisplayFor(model => model.Value)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssignmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="Start" asp-route-id="@Model.AssignmentID">Start</a>
</div>

<div id="reviews">
<h3>Reviews</h3>
    @foreach (var r in Model.Reviews)
    {
        <div class="review">
            <h5>@r.Title</h5>
            <p>@r.Score</p>
            <p>@r.Description</p>
        </div>
    }
</div>
